@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway/Raleway-Regular.woff") format("woff"),
         url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
    font-size: normal;
    font-display: swap;
}

@font-face {
    font-family: "Righteous-Regular";
    src: url("../fonts/Righteous/Righteous-Regular.woff") format("woff"),
         url("../fonts/Righteous/Righteous-Regular.woff2") format("woff2");
    font-weight: 600;
    font-size: normal;
    font-display: swap;
}